mkdocs~=1.5.0
mkdocs-material~=9.5.0
# Plugins
mkdocs-include-markdown-plugin
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-minify-plugin~=0.5.0
mkdocs-section-index
mkdocs-git-revision-date-localized-plugin~=1.1.0
mkdocstrings[python]
mkdocs-redirects~=1.1.0
mkdocs-glightbox~=0.3.0
# https://github.com/jimporter/mike/issues/82#issuecomment-1172913929
mike @ https://github.com/jimporter/mike/archive/392d57b8bb9d14bcedf2451a0dc302709f8055eb.zip
# Extensions
pymdown-extensions~=10.7.0
# Necessary for syntax highlighting in code blocks
pygments~=2.17.0
# Validation
# https://github.com/linkchecker/linkchecker/pull/669#issuecomment-1267236287
linkchecker @ git+https://github.com/linkchecker/linkchecker.git@d9265bb71c2054bf57b8c5734a4825d62505c779
